.navbar-dark {
  background-color: #af9F8C;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #CEC3B2;
  color:floralwhite;
  margin-bottom: 60px;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.navbar-dark .navbar-nav .nav-link{
  margin-top: 4px;
  font-size: 17px;
  font-weight: 500;
}

.footer {
  padding-top: 20px;
  background-color: #d4c8be;
}

.cardoverall {
  margin-top: 70px;
  margin-bottom: 40px;

}

.aboutmargin {
  padding-top: 30px;
  padding-bottom: 30px;
}


.cardmargin {
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  
}

.photomargin {
  padding-top: 20px;
  margin-bottom: 30px;
}


.footer {
  margin-top: 30px;
}

.descbox{
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
}

.descmargin {
  margin-bottom: 15px;
}